<%- include('./partials/header'); %>

  <div class="card mt-4">

    <div class="card-header">
      <h1 class="card-title"><i class="fa-solid fa-magnifying-glass mr-2"></i>Pesquisar produtos</h1>
    </div>

    <div class="card-body p-0">

      <form class="m-0" id="filter">

        <div class="input-group ">
          <input type="text" class="form-control" id="text" placeholder="Recipient's username" aria-label="Digite o conteúdo da pesquisa." aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          </div>
        </div>

        <label class="mt-4 ml-3">Tipo</label>
        <select class="form-control" id="type">
          <option value="name">nome</option>
          <option value="type">tipo</option>
          <option value="price">preço</option>
          <option value="validity">validade</option>
          <option value="lote">lote</option>
          <option value="qtd">quantidade</option>
        </select>

      </form>

    </div>


    <script src="./js/filter.js"></script>
    <div class="card-footer p-0" id="result"></div>

  </div>

<%- include('./partials/footer'); %>