<%- include('./partials/header'); %>


<div class="card mt-2">
  <div class="card-header">
    <h1 class="card-title"><i class="fa-solid fa-plus mr-2"></i>Novo Produto</h1>
  </div>
  <div class="card-body">
    <form method="POST" action="/novo-produto" class="form">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Nome</span>
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="Nome"
          aria-label="Username"
          aria-describedby="basic-addon1"
          name="name"
        />
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Tipo</span>
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="Tipo"
          aria-label="Username"
          aria-describedby="basic-addon1"
          name="type"
        />
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Preço</span>
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="Preço"
          aria-label="Username"
          aria-describedby="basic-addon1"
          name="price"
        />
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Validade</span>
        </div>
        <input
          type="date"
          class="form-control"
          placeholder="Validade"
          aria-label="Username"
          aria-describedby="basic-addon1"
          name="validity"
        />
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Lote</span>
        </div>
        <input
          type="text"
          name="lote"
          class="form-control"
          placeholder="Lote"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Quantidade</span>
        </div>
        <input
          type="number"
          name="qtd"
          class="form-control"
          placeholder="Quantidade"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
      </div>

      <button type="submit" class="btn btn-primary float-right" >Cadastrar</button>
    </form>
  </div>
</div>
  <%- include('./partials/footer'); %>
