<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./css/login.css" />
    <title>EstoqueC4F3</title>
  </head>
  <body>

    <% if (msg === true) { %>

      <% if (msgType === 'error') { %>

        <div class="alert alert-danger" role="alert" style="border-top-left-radius: 0; border-top-right-radius: 0;">
          <b>Ora merda!</b> <%= msgContent %>
        </div>

      <% } else { %>

        <div class="alert alert-success" role="alert" style="border-top-left-radius: 0; border-top-right-radius: 0;">
          <b>Ora boas!</b> <%= msgContent %>
        </div>

      <% } %>

    <% } %>

    <div class="content">
      <section id="container">
        <div class="main_content">
          <img src="./images/estoquec4.png" alt="">
        </div>
        
        <form action="/login" method="POST">

          <div class="form__group field">
            <input type="input" class="form__field" placeholder="Login" name="username" id='login_Field' required/>
            <label for="name" class="form__label">Login</label>
        </div>
        <div class="form__group field">
            <input type="password" class="form__field" placeholder="Password" name="password" id='login_Field' required/>
            <label for="password" class="form__label">Password</label>
        </div>
        <div>
            <button type="submit" class="btn btn-secondary" style="background-color: #11998e;">Login</button>
            <a href="/register" class="btn btn-secondary" style="background-color: #11998e;">Register</a>
        </div>

        </form>

      </section>
    </div>

    <!-- ///////////////////bootstrap///////////////////////// -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
      integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
      integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
